.wp-block-gallery .wp-block-image > a {
	+ figcaption.wp-element-caption,
	img,
	&:before,
	&:after {
		transition: all 0.5s $bezier;
	}

	&:after {
		font: var(--fa-font-classics);
		color: rgb(255, 255, 255, 1);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 9;
		font-size: var(--wp--preset--font-size--24-32);
	}
	&:before {
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		z-index: 1;
	}
	+ figcaption.wp-element-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		z-index: -1;
		background: transparent;
		font-size: 14px;
		letter-spacing: 0.02em;
		text-align: left;
		padding: $margin_2x;
		> .gallery-image-title {
			font-size: 16px;
			font-weight: 700;
			line-height: 40px;
		}
	}
	&:hover {
		&:before {
			background-color: rgb(0, 0, 0, 0.75);
		}
		&:after {
			content: "\2b";
		}

		+ figcaption.wp-element-caption {
			z-index: 9;
			transform: translateY(0);
			pointer-events: none;
		}
	}
}
.wp-block-gallery.patterns--gallery--staggered-columns {
	//
	//
	//

	.wp-block-image {
		//
		//
		//
		a {
			img {
				transition: all 0.1s ease-in-out;
				transform: scale(1);
			}

			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}

		//
		// ? limit to if this style is selected
		// ? 		- this makes editing the caption easier in the CMS
		// ?		- this helps stop these styles from darkening images with no cites a bit
		//
		&.is-style-floating-cite {
			//
			a {
				position: relative;

				//
				//
				//
				&::before {
					content: "";
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					display: block;
					background-color: var(--wp--preset--color--black);
					opacity: 0;
					z-index: 1;
				}

				//
				//
				//
				+ figcaption {
					transition: all 0.1s ease-in-out;
					background: unset !important;
					width: 100%;
					padding: $margin_2x;
					text-align: left;
					transform: translateY(100%);
					font-size: 14px;
					line-height: 20px;
					br {
						line-height: 1;
					}
				}

				//
				//
				//
				&:hover {
					&::before {
						opacity: 0.4;
					}
					+ figcaption {
						transform: translateY(0);
					}
				}
			}
		}
	}
}
