/* 
	404 page styles expect body.error404
*/

body.error404 {


	// all our content is wrapped in this container
	.is-the-404-section {
		text-align: center;
		max-width: 960px;
		margin: var(--wp--custom--spacing--large) auto;

		.sitesearch-container {
			margin-top: $margin_4x;
		}
	}
}